<h1>What does your dating life look like??</h1>
<br>
<% @user = current_user %>
<% @user.traxes.each do |trax|%>
 
<!-- So this pulls all lists and checks it it matches the user id before iterating over them -->
    <h2><%= trax.name %> in <%= trax.location %></h2>
    <a href="/traxes/<%=trax.id%>/edit"><i class="fa fa-pencil"></i> Edit List</a>
    <a href="/traxes/<%=trax.id%>/delete"><i class="fa fa-times"></i> Delete List</a>
    
  
<% end %>
