<h1>What does your dating life look like??</h1>
<br>

<ol>
  <% Trax.all.each do |trax| %>
  <li>
    <a href="/traxes/<%= trax.id %>/edit">
      <p><%= trax.name %></p>
      </a>
      <p>Number: <%= trax.location %> </p>
      <p>Score: <%= trax.score %> </p>
  </li>
  <% end %>
</ol>

