<h1>What does your dating life look like??</h1>
<br>
<% @user = current_user %>
<% @user.traxes.each do |trax|%>
 

    <h2><%= trax.name %> in <%= trax.location %></h2>
    <a href="/traxes/<%= trax.id %>">Details </a>
    
<% end %>
