<h1>Best Experiences</h1>
<br>
<h2><label for= "name">Name:</label>
<%= @trax.name %></h2>


<h2><label for= "score">Score:</label>
<%= @trax.score %></h2>



<h1>Worst Experiences</h1>
<br>
<h2><label for= "name">Name:</label> 
<%= @worst.name %></h2>


<h2><label for= "score">Score:</label>
<%= @worst.score %></h2>

<br><br>
<a href="/traxes"> Back </a>